@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-c">
    <div class="row align-items-center hero-cont">

        <div class="hero-text col-lg-5 col">
            <h1 class="mb-4">
                Manage your Tasks and Everything with <span class="orange-text">ReenDo</span>
            </h1>
    
            <a asp-controller="ToDo" asp-action="Index" class="my-btn orange-bg">Let's Start</a>
        </div>
        
        <div class="col-lg-7">
            <img src="~/images/work.png" alt="work" class="hero-img">
        </div>

    </div>
</div>

