:root {
  --orange-col: #c34635;
  --blue-col: #151451;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
  height: 70px;
}
.orange-text {
  color: var(--orange-col);
}
.hero-img {
  width: 100%;
}

.my-btn {
  text-decoration: none;
  border-radius: .65rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  margin-top: 1rem;
}

.grey-bg {
  background-color: grey;
  color: white;
}
.orange-bg {
  background-color: var(--orange-col);
  color: white;
  border: none;
}

.blue-bg {
  background-color: var(--blue-col);
  color: white;
  border: none;
}

.my-border {
  border: 2px solid var(--orange-col);
  border-radius: .75rem;
}

.sm-fnt {
  font-size: .75rem;
}

.todo-card {
  padding: 1.5rem .5rem;
  display: flex;
  justify-content: space-between;
  border-radius: .5rem;
  box-shadow: 0 0 8px black;
  margin-top: 1rem;
}
my-btn:hover .orange-bg,
my-btn:hover .blue-bg{
  opacity: .8;
}

.col {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.logo {
  height: 40px;
}
.my-c {
  text-align: center;
}

.item-text {
  width: 60%;
}
.buttonsss {
  width: 40%;
  flex-direction: wrap;
}